body {
    background-color: rgba(250, 250, 150, 0.8);
    color: black;
    font-family: 'Segoe UI', Tahoma;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    background-color: rgb(250, 250, 250);
    border-radius: 25px;
    margin: 70px auto;
    max-width: 1150px;
    padding: 25px;
    text-align: center;
}
.logo {
    height: 100%;
    margin: 10px auto 20px auto;
    width: 100px;
}
.main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    margin: 15px;
    justify-content: space-around;
    text-align: center;
}
